.button {
    translate: 0 -5%;
    width: 500px;
    height: 150px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    background-image: url("project://database/Assets/Sources/Tiny%20Swords%20(Free%20Pack)/Tiny%20Swords%20(Free%20Pack)/UI%20Elements/UI%20Elements/Wood%20Table/WoodTable_Slots.png?fileID=2800000&guid=922213a7128e89d4a9e89e3f1c689ae9&type=3#WoodTable_Slots");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    -unity-background-scale-mode: stretch-to-fill;
}

.commonText {
    color: rgb(82, 24, 7);
    font-size: 40px;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/ThaleahFat%20SDF.asset?fileID=11400000&guid=4f91cd89f157d37449660700b7886222&type=2#ThaleahFat SDF");
    -unity-text-outline-color: rgb(214, 183, 152);
    -unity-text-outline-width: 1.5px;
    -unity-font-style: normal;
    text-overflow: clip;
}

.margin {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.titleText {
    color: rgb(82, 24, 7);
    font-size: 113px;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/ThaleahFat%20SDF.asset?fileID=11400000&guid=4f91cd89f157d37449660700b7886222&type=2#ThaleahFat SDF");
    -unity-text-outline-color: rgb(214, 183, 152);
    -unity-text-outline-width: 2px;
}

.hide {
    opacity: 0;
    visibility: visible;
}
